<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href='/static/main.css' />
    <title>Uncle Sam's Hardware</title>
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/tools">Tools</a></li>
        <li><a href="/services">Services</a></li>
        <li><a href="/contact">Contact</a></li>
        {% if session.logged_in %}
          <li><a href="/logout">Log out</a></li>
        {% else %}
          <li><a href="/login">Log in</a></li>
        {% endif %}
      </ul>
    </nav>
    {% block content %}{% endblock %}
    <script src="{{url_for('static', filename='main.js')}}"></script>
    <script src="{{ url_for('static', filename='services.js') }}"></script>
  </body>
</html>
