{% extends 'layout.html' %}

{% block content %}
  <div class="login-container">
    <h2>Login</h2>
    <form method="POST">
      {{ form.hidden_tag() }}
      <p>
          {{ form.username.label }}<br>
          {{ form.username(size=30) }}<br>
          {% for error in form.username.errors %}
          <span style="color: red;">[{{ error }}]</span>
          {% endfor %}
      </p>
      <p>
          {{ form.password.label }}<br>
          {{ form.password(size=30) }}<br>
          {% for error in form.password.errors %}
          <span style="color: red;">[{{ error }}]</span>
          {% endfor %}
      </p>
      <p>{{ form.submit() }}</p>
  </form>
  
  </div>

{% endblock %}
