{% extends 'layout.html' %}

{% block content %}
  <div class="login-container">
    <h2>Login</h2>
    {% if not over_limit %}
      <form method="POST">
        {{ form.hidden_tag() }}
        <p>
          {{ form.username.label }}<br>
          {{ form.username(size=30) }}<br>
          {% for error in form.username.errors %}
            <span style="color: red;">[{{ error }}]</span>
          {% endfor %}
        </p>
        <p>
          {{ form.password.label }}<br>
          {{ form.password(size=30) }}<br>
          {% for error in form.password.errors %}
            <span style="color: red;">[{{ error }}]</span>
          {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
      </form>
    {% else %}
      <p>Too many login attempts. Please try again later.</p>
    {% endif %}
  </div>
{% endblock %}
