{% extends 'layout.html' %}

{% block content %}
  <table>
    <thead>
      <tr>
        <th>Service Name</th>
        <th>Price</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for service in services %}
        <tr>
          <td>{{ service.service_description }}</td>
          <td>${{ service.service_price }}</td>
          <td><button onclick="addToCart('{{ service.service_id }}', '{{ service.service_description }}', '{{ service.service_price }}')">Add to Cart</button></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

  <div id="services-cart"></div>
{% endblock %}
