{% extends 'layout.html' %}

{% block content %}
  <table>
    <thead>
      <tr>
        <th>Tool Image</th>
        <th>Tool Name</th>
        <th>Price</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
        {% for tool in tools %}
          <tr>
            <td><img src="{{ url_for('static', filename='images/' + tool.tool_image) }}" alt="{{ tool.tool_name }}"></td>
            <td>{{ tool.tool_name }}</td>
            <td>${{ tool.tool_price }}</td>
            <td><button onclick="addToCart('{{ tool.tool_id }}', '{{ tool.tool_name }}', '{{ tool.tool_image }}', '{{ tool.tool_price }}')">Add to Cart</button></td>
          </tr>
        {% endfor %}
      </tbody>

  </table>

  <div id="cart"></div>
{% endblock %}
